<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="gift-image" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1><input class="gift-name" name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>

    <section class="sheet-body">
        <div class="description" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>

        <hr>
        <ol class="list ability-list">
            {{log "gift sheet root" @root}}
            {{#each abilities as |ability index|}}
            <li class="ability list-item flexcolumn" data-item-id="{{ability._id}}">
                <div class="flexrow">
                    <div class="ability-name ability-name-column">
                        {{ability.enrichedName}}
                    </div>
                    <div class="ability-controls ability-controls-column">
                        <a class="ability-control ability-open" title="Open Ability"> <i class="fas fa-edit"></i> Open</a>
                        <a class="ability-control ability-delete" title="Delete Ability"> <i class="fas fa-trash"></i> Delete</a>
                    </div>
                </div>
                
                <div class="ability-description ability-description-column">
                    {{{ability.enrichedDescription}}}
                </div>
                
            </li>
            {{/each}}
        </ol>
        <p>
            <a class="ability-control ability-add" title="Add New ability"><i class="fas fa-plus"></i> Add New ability</a>
        </p>

    </section>
</form>