<form class="flexcol {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="gift-image" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
        <h1><input class="gift-name" name="name" type="text" value="{{data.name}}" placeholder="Name" /></h1>
    </header>

    <section class="sheet-body">
        <div class="description" data-group="primary" data-tab="description">
            {{editor descriptionHTML target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
        </div>

        <hr>
        <ol class="list ability-list">
            {{#each abilities as |ability index|}}
            <li class="ability list-item flexcolumn
                {{~ifThen (gt ability.system.cooldown.remaining 0) ' on-cooldown' ''}}
                {{~ifThen (gt ability.system.unlocked 0) ' unlocked' ' locked'}}"
                data-item-id="{{ability._id}}"
                data-item-uuid="{{ability.uuid}}">
                <div class="flexrow">
                    <div class="ability-basics">
                        <!-- level -->
                        {{#if (ne ability.system.level null)}}
                        <div class="ability-level">
                            Lv{{ability.system.level}}
                        </div>
                        {{/if}}

                        <!-- name -->
                        <a class="ability-name ability-use">
                            {{ability.enrichedName}}
                        </a>

                        <!-- cooldown -->
                        {{#if ability.system.cooldown.max}}
                        {{#with ability.system.cooldown}}
                        <a class="ability-cooldown cooldown-decrement" data-tooltip="{{ifThen (gt remaining 0) 'Decrement ' ''}}Cooldown">
                            {{~#if (gt remaining 0)~}}
                                {{remaining}}
                            {{else}}
                                {{max}}
                            {{~/if~}}
                            <i class="fa-solid fa-hourglass"></i>
                        </a>
                        {{/with}}
                        {{/if}}

                        <!-- Resource -->
                        {{#if (ne ability.system.resource.remaining null)}}
                        {{#with ability.system.resource}}
                        <div class="ability-resource" data-tooltip="{{name}}">
                            <a class="resource-decrement">-</a>
                            {{~remaining~}}
                            {{~#if max~}}
                            / {{~max~}}
                            {{~/if~}}
                            <a class="resource-increment">+</a>
                        </div>
                        {{/with}}
                        {{/if}}
                    </div>
                    <div class="ability-controls ability-controls-column">
                        <a data-action="ability-open" class="ability-control ability-open" title="Open Ability"> <i class="fas fa-edit"></i> Open</a>
                        <a data-action="ability-delete" class="ability-control ability-delete" title="Delete Ability"> <i class="fas fa-trash"></i> Delete</a>
                    </div>
                </div>
                
                <div class="ability-description ability-description-column">
                    {{{ability.enrichedDescription}}}
                </div>
                
            </li>
            {{/each}}
        </ol>
        <p>
            <a data-action="ability-add" class="ability-control ability-add" title="Add New ability"><i class="fas fa-plus"></i> Add New ability</a>
        </p>

    </section>
</form>